asgiref==3.2.7
asn1crypto==0.24.0
astroid==2.2.5
autopep8==1.5.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
collections-extended==1.0.2
colorama==0.4.1
crypto==1.4.1
cryptography==2.7
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.5
django-allauth==0.41.0
django-classy-tags==1.0.0
django-cms==3.7.2
django-crispy-forms==1.9.2
django-filer==1.7.1
django-filter==2.2.0
django-filters==0.2.1
django-formtools==2.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-mysql==3.2.0
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-attributes-field==1.2.0
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-installer==1.2.3
djangocms-link==2.6.1
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.9.0
djangocms-video==2.3.0
easy-thumbnails==2.7
env==0.1.0
env2==0.0.0
html5lib==1.0.1
idna==2.8
iohandler==1.0.6
isort==4.3.21
Jinja2==2.10.1
lazy-object-proxy==1.4.1
manage.py==0.2.10
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-client==0.0.1
mysql-connector-python==8.0.11
Naked==0.1.31
numpy==1.16.4
oauthlib==3.1.0
pathlib==1.0.1
Pillow==8.1.1
protobuf==3.11.3
pycodestyle==2.5.0
pycparser==2.19
pylint==2.3.1
python3-openid==3.1.0
pytz==2019.1
PyYAML==5.1.1
render==1.0.0
renderer==1.0.3
requests==2.22.0
requests-oauthlib==1.3.0
selenium==3.141.0
shellescape==3.4.1
six==1.12.0
sqlparse==0.3.1
structlog==19.1.0
typed-ast==1.4.0
typing==3.7.4
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.3
virtualenv==16.6.1
webencodings==0.5.1
wrapt==1.11.2
